<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      全部备忘录
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- 卡片item -->
  <ion-card *ngFor = "let item of list">
    <ion-card-header>
      <ion-card-title> {{item.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{item.content}}
    </ion-card-content>
  </ion-card>

  <!-- 新建按钮 -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/newnote']" >
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
